<h1><%= @the_skin.name %></h1>

<% if @the_skin.image_url.present? %>
  <%= image_tag @the_skin.image_url, style: "max-width: 500px; height: auto;" %>
<% else %>
  <p>No image available</p>
<% end %>

<p><%= @the_skin.description %></p>
<p>Starting Price: <%= number_to_currency(@the_skin.starting_price) %></p>

<hr>

<table  border="1">
  <tr>
    <th>
      Bid ID
    </th>

    <th>
      Username
    </th>

    <th>
      Amount
    </th>

    <th>
      Time
    </th>
  </tr>

<%bids = @the_skin.skinbids.order({:amount=>:desc})%>
<% bids.each do |a_bid|%>
  <tr>
    <td>
      <%=a_bid.id%>
    </td>
    <td>
<!--    this is for later, we are going to allow people to click on other ppls profiels-->
      <a href="/userinfo/<%=a_bid.user.username%>"><%=a_bid.user.username%>
      <%#=a_bid.user.username%>
    </td>
    <td>
      <%=a_bid.amount%>
    </td>
    <td>
      <%=a_bid.updated_at.strftime("%B %d, %Y") %>
    </td>
  </tr>
<%end%>
</table>
